@import "./../../../../shared/variables";

.content {
  position: absolute;
  right: 70px;
  top: 5em;
  width: 73%;
  z-index: -1;
}

@media (max-width: 1300px) {
  .content {
    width: 69%;
  }
}
@media (max-width: 1080px) {
  .content {
    left: 70px;
    width: unset;
  }
}

.all-the-way {
  left: 70px;
  width: unset;
}

.search{
    display: flex;
    align-items: center;
    max-width: 500px;
    margin: 0 auto 1em;
    border: 1px solid lighten($dark-gray, 30%);
  }

.search-bar {
    font-size: 1rem;
    display: block;
    width: 100%;
    padding: 0.6em;
    border-radius: 0;
    border: 1px solid $medium-gray;
  }

.bi {
    background-color: $red;
    display: block;
    color: white;
    padding: 0.64em 1em;
    cursor: pointer;

    &:hover{
        background-color: darken($red, 5%);
    }

    i {
      font-size: 20px;
    }
  }

.data-display {
    background-color: $white;
    margin-bottom: 1.3em;
    box-shadow: 3px 3px 6px -1px darken($medium-gray, 20%);
    padding: 1em 2em;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
  }

  app-article-card {
    min-width: 200px;
    width: 80%;
    max-width: 250px;
    margin: 1em;
    border: 1px solid lighten($dark-gray, 30%);
    height: 300px;
  }
