@import "./../../../../shared/variables";

mat-card{
  width: 700px;
  margin: 1.5em auto;
}

mat-title{
  padding: 0 0 1em;
}

mat-card-content{
  padding: 0 2em;
  p {
    padding: 1em 0;
    border-bottom: 1px solid lightgray;
  }
}