@import "./../../../../shared/variables";

.content {
  position: absolute;
  right: 70px;
  top: 5em;
  width: 73%;
  z-index: -1;
}

@media (max-width: 1300px) {
  .content {
    width: 69%;
  }
}
@media (max-width: 1080px) {
  .content {
    left: 70px;
    width: unset;
  }
}

.all-the-way {
  left: 70px;
  width: unset;
}

.data-display {
  background-color: $white;
  margin-bottom: 1.3em;
  box-shadow: 3px 3px 6px -1px darken($medium-gray, 20%);
  padding: 1.5em 3em;
  overflow: hidden;
}

.tabs {
  list-style: none;
  display: flex;

  &-item {
    padding: 0.8em 1.5em;
    background-color: $light-gray;
    border-radius: 10px 10px 0 0;
    border-right: 2px solid $red;
    cursor: pointer;
  }
}

.item-active {
  background-color: $white;
  z-index: 5555;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid $medium-gray;
  td {
    width: 25%;
    padding: 1em;
  }

  .t-header td {
    border: 1px solid $medium-gray;
    border-bottom: 1px solid $dark-gray;
  }

  .row:nth-child(2n + 1) {
    background-color: $light-gray;
  }

  .row td {
    &:last-child {
      text-align: center;
    }
  }

  i {
    color: $red;
    font-size: 1.5rem;
    cursor: pointer;
    &:nth-child(2) {
      margin: 0 1em 0;
    }
  }
}

.t-art td {
  width: 20%;
}
.t-cat td {
  width: 33%;
}

//modal

.darken {
  position: absolute;
  z-index: 99999;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 3rem;
  z-index: 99999;
  width: 100%;
  max-width: 500px;
  background-color: $white;

  &-heading {
    border-bottom: 1px solid $dark-gray;
    padding: 1em 2em;
    background-color: $red;
    color: $white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  form {
    padding: 2em;
  }

  .label-input-pairs {
    margin-bottom: 1em;
  }

  label {
    font-size: 1.4rem;
    display: block;
  }

  input {
    font-size: 1rem;
    width: 100%;
    padding: 0.6em 1em;
    border-radius: 0;
    border: 1px solid darken($medium-gray, 10%);
  }

  textarea {
    font-family: sans-serif;
    font-size: 1rem;
    padding: 0.6em 1em;
    display: block;
    width: 100%;
    margin-bottom: 1em;
    resize: none;
    border: 1px solid darken($medium-gray, 10%);
  }

  .add-btn {
    display: block;
    float: right;
    padding: 0.6em 2em;
    margin-bottom: 2em;
    font-size: 1rem;
    border: 0;
    cursor: pointer;
    &:hover {
      background-color: darken($success, 10%);
      color: $white;
    }
    transition: all 200ms ease;
    background-color: $success;
    color: $white;
  }

  button[disabled] {
    background-color: lighten($success, 20%);
    cursor: not-allowed;
    &:hover {
      background-color: lighten($success, 20%);
    }
  }
}
