<app-navbar 
  [nav-links]="adminNav"
  (toggledNav)="setNavState($event)"
>
</app-navbar>

<div class="content" [class.allTheWay]="!isNavOpen">
    
  <div class="edit-container">
    <h2 class="heading">Add new Article</h2>

    <form #fA="ngForm">
      <div class="flex-container">
        <div class="label-input-pairs">
          <label for="name"
            >Article name:
          </label>
           <input 
           ngModel 
           #name="ngModel" 
           type="text" 
           name="name" 
           required/>
        </div>
  
        <div class="label-input-pairs">
          <label for="price"
            >Price:
          </label>
          <input 
          ngModel 
          #price="ngModel" 
          type="number" 
          name="price" 
          required
          />
        </div>

        <div class="label-input-pairs">
          <label for="discount">
            Discount:
          </label>
          <input 
          ngModel 
          name="discount" 
          #discount="ngModel" 
          type="number" 
          />
        </div>
  

      </div>

      <label class="desc-label" for="description">Description: </label>

      <textarea
        ngModel
        #description="ngModel"
        name="description"
        cols="20"
        rows="7"
      >
      </textarea>
      <button 
      [disabled]="!fA.valid"
      (click)="validateArticle(fA.valid, fA, fA.value)"
      class="add-btn">ADD</button>
    </form>
  </div>

  <!-- category form -->

  <div class="edit-container">
    <h2 class="heading">Add new Category</h2>
    <form #fC="ngForm">
      <label for="name"
        >Category name:
        <input ngModel #nameC="ngModel" type="text" name="name" />
      </label>

      <label class="desc-label" for="description">Description: </label>

      <textarea
        ngModel
        #descriptionC="ngModel"
        name="description"
        cols="20"
        rows="7"
      >
      </textarea>
      <button (click)="validateCategory(fC.valid, fC, fC.value)" class="add-btn">ADD</button>
    </form>
  </div>
</div>
