@import "../../../shared/variables";

*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin trans-ease {
  transition: all 150ms ease-in-out;
}

//header

.header {
  background-color: $white;
  border-bottom: 1px solid $medium-gray;
  box-shadow: 0px 9px 6px -8px $light-gray;
  padding: .7em 0;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9999;
}


.content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
}


.logo {
font-size: 2em;
}

.burger-menu {
  position: relative;
  left: 1.5em;
  background-color: $black;
  width: 25px;
  height: 4px;
  cursor: pointer;
  @include trans-ease;

  &::before {
    content: "";
    position: absolute;
    top: -7px;
    background-color: $black;
    width: 25px;
    height: 4px;
    transform-origin: 10%;
    @include trans-ease;
  }

  &::after {
    content: "";
    position: absolute;
    top: 7px;
    background-color: $black;
    width: 25px;
    height: 4px;
    transform-origin: 10%;
    @include trans-ease;
  }

  &.open {
    transform: rotate(180deg);
    background-color: transparent;

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}

.logo_nav{
    display: flex;
    align-items: center;
}

.account {
  cursor: pointer;
  padding: 0.5em 0;
  position: relative;

  span {
    margin-right: 0.5em;
  }

  i {
    position: relative;
    top: 1px;
  }
}

.options-holder {
  position: absolute;
  top: 50px;
  right: 0px;
  width: 120px;
  background-color: $white;

  .account-option {
    display: block;
    padding: 0.7em 1em;
    border-bottom: 1px solid $light-gray;
    text-decoration: none;
    color: $dark-gray;
    user-select: none;
  }
}

// vertical nav

.nav {
  background-color: $white;
  position: fixed;
  padding-top: 5em;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  @include trans-ease;

  .list {
    list-style: none;

    &_item {
      padding: 1em;
      border-bottom: 1px solid $medium-gray;
      &:hover{
        background-color: $red;
        color: $white;
        cursor: pointer;
      }
    }
  }
}

.navClosed {
  left: -300px;
}
