<div class="register-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box mat-elevation-z5">
    
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <mat-card-content>
        <mat-form-field appearance="outline">
          <mat-label>Select an role</mat-label>
          <mat-select formControlName="role">
            <mat-option value="administrator">Administrator</mat-option>
            <mat-option value="user">User</mat-option>
          </mat-select>

          <mat-error *ngIf="handleError('role', 'required')">
            Role is <strong>required</strong>.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width-input">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" placeholder="Name">
    
          <mat-error *ngIf="handleError('name', 'required')">
            Name is <strong>required</strong>.
          </mat-error>
          <mat-error *ngIf="handleError('name', 'minlength')">
            Name must be at least <strong>4 characters</strong>.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width-input">
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" placeholder="Username">
    
          <mat-error *ngIf="handleError('username', 'required')">
            Username is <strong>required</strong>.
          </mat-error>
          <mat-error *ngIf="handleError('username', 'minlength')">
            Username must be at least <strong>4 characters</strong>.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width-input">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" placeholder="Email">
    
          <mat-error *ngIf="handleError('email', 'required')">
            Email is <strong>required</strong>.
          </mat-error>
          <mat-error *ngIf="handleError('email', 'email')">
            Email must be <strong>valid email</strong>.
          </mat-error>
        </mat-form-field>
    
        <mat-form-field appearance="outline" class="full-width-input">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" placeholder="Password" type="password">
    
          <mat-error *ngIf="handleError('password', 'required')">
            Password is <strong>required</strong>.
          </mat-error>
          <mat-error *ngIf="handleError('password', 'minlength')">
            Password must be at least <strong>8 characters</strong> long.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width-input">
          <mat-label>Password repeat</mat-label>
          <input matInput formControlName="passwordRepeat" placeholder="Password repeat" type="password">
    
          <mat-error *ngIf="handleError('passwordRepeat', 'required')">
            Password repeat is <strong>required</strong>.
          </mat-error>
          <mat-error *ngIf="handleError('passwordRepeat', 'mustMatch')">
            Passwords must <strong>match</strong>.
          </mat-error>
        </mat-form-field>
    
        <button mat-raised-button color="primary" type="submit" [disabled]="!registerForm.valid">Register</button>
      </mat-card-content>
    </form>

    <mat-card-footer>
      <button mat-raised-button color="primary" routerLink="/login">Already have account?</button>
      <button mat-raised-button color="primary" routerLink="/reset-password-request">Forgot password?</button>
    </mat-card-footer>

  </mat-card>
</div>
