<div class="reset-password-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box mat-elevation-z5">
    
    <mat-card-header>
      <mat-card-title>Reset password</mat-card-title>
    </mat-card-header>

    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <mat-card-content>    
        <mat-form-field appearance="outline" class="full-width-input">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" placeholder="Password" type="password">
          <mat-icon matSuffix>password</mat-icon>

          <mat-error *ngIf="handleError('password', 'required')">
            Password is <strong>required</strong>.
          </mat-error>
          <mat-error *ngIf="handleError('password', 'minlength')">
            Password must be at least <strong>8 characters</strong> long.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width-input">
          <mat-label>Password repeat</mat-label>
          <input matInput formControlName="passwordRepeat" placeholder="Password repeat" type="password">
          <mat-icon matSuffix>password</mat-icon>
    
          <mat-error *ngIf="handleError('passwordRepeat', 'required')">
            Password is <strong>required</strong>.
          </mat-error>
          <mat-error *ngIf="handleError('passwordRepeat', 'mustMatch')">
            Passwords must <strong>match</strong>.
          </mat-error>
        </mat-form-field>
    
        <button mat-raised-button color="primary" type="submit" [disabled]="!resetPasswordForm.valid">Reset password</button>
      </mat-card-content>
    </form>

    <mat-card-footer>
      <button mat-raised-button color="primary" routerLink="/reset-password-request">Forgot password?</button>
      <button mat-raised-button color="primary" routerLink="/login">Already have account?</button>
      <button mat-raised-button color="primary" routerLink="/register">Don't have account?</button>
    </mat-card-footer>

  </mat-card>
</div>
