<div class="container">
    <h1 class="login-heading margin1">Reset password</h1>
    <p class="message">Enter your username and we will send you the reset password link to your email.</p>
    <form #f="ngForm">
      <div class="input-holder margin1">
        <span class="login-icon"><i class="bi bi-person"></i></span>
        <input
        ngModel
        #username="ngModel"
        class="text-input"
        type="text"
        name="username"
        placeholder="Username"
        required
        />
    </div>
      
        <div *ngIf="username.errors?.required && username.touched" class="error-alert">
          Username is required.
        </div>
  
  
        <button 
        [disabled]="!f.valid"
        class="btn reset-btn margin1" (click)="sendResetReq(f.value)">SEND</button>
        <button routerLink="/login" class="btn login-btn">LOGIN</button>
    </form>
  </div>