<div class="container">
    <h1 class="login-heading margin1">Reset password</h1>
    <form #f="ngForm">
        <input
        ngModel
        #newPassword="ngModel"
        class="text-input"
        type="password"
        name="newPassword"
        placeholder="New password"
        required
        />
        <br />
      
        <input
        ngModel
        #repeat="ngModel"
        class="text-input"
        type="password"
        name="repeatPassword"
        placeholder="Enter the password again"
        required
        />
      <br />
      
        <div 
        *ngIf="newPassword.errors?.required && newPassword.touched 
        || repeat.errors?.required && repeat.touched" 
        class="error-alert">
         Please enter both fields
        </div>
  
      <button [disabled]="!f.valid" class="btn login-btn margin1">SAVE</button>
    </form>
  </div>
  