@import "../../../../shared/variables";

.container {
  border: 1px solid $dark-gray;
  width: 500px;
  margin: 5em auto;
  padding: 2em;
  background-color: $white;
}

.margin1 {
  margin-bottom: 1em;
}

.login-heading {
  font-size: 2rem;
  color: $black;
}

.error-alert{
  @extend .margin1;
  background-color: lighten($red, 45%);
  padding: 1em;
  color: $black;
}

.input-holder {
  display: flex;
  align-items: center;
}

.login-icon {
  background-color: $red;
  display: block;
  color: white;
  padding: 0.5em;

  i {
    font-size: 20px;
  }
}

.text-input {
  font-size: 1rem;
  display: block;
  width: 100%;
  padding: 0.6em;
  border-radius: 0;
  border: 1px solid $medium-gray;
}

.link {
  text-decoration: none;
  color: $dark-gray;
  display: block;
  font-size: 0.9rem;
  &:hover {
    text-decoration: underline;
  }
}

.btn {
  display: block;
  width: 100%;
  padding: 0.6em;
  font-size: 1rem;
  border: 0;
  cursor: pointer;
  &:hover {
    background-color: darken($red, 10%);
    color: $white;
  }
  transition: all 200ms ease;
}

button[disabled]{
  background-color: lighten($red, 20%);
  &:hover{
      cursor: not-allowed;
      background-color: lighten($red, 20%);
  }
}

.login-btn {
  background-color: $red;
  color: $white;
}

.sign-btn {
  border: 2px solid $red;
  background-color: $light-gray;
  color: $black;
}
