<div class="container">
  <h1 class="login-heading margin1">Login</h1>
  <form #f="ngForm">
    <div class="input-holder margin1">
      <span class="login-icon"><i class="bi bi-person"></i></span>
      <input
      ngModel
      #username="ngModel"
      class="text-input"
      type="text"
      name="username"
      placeholder="Username"
      required
      />
      <br />
    </div>
    
    <div class="input-holder">
      <span class="login-icon"><i class="bi bi-key"></i></span>
      <input
      ngModel
      #password="ngModel"
      class="text-input"
      type="password"
      name="password"
      placeholder="Password"
      required
      />
    </div>
    <br />
    
      <div *ngIf="username.errors?.required && username.touched" class="error-alert">
        Username is required.
      </div>
      <div *ngIf="password.errors?.required && password.touched" class="error-alert">
       Password is required
      </div>


    <a routerLink="/reset-password" class="link margin1">Forgot password?</a>
    <button class="btn login-btn margin1" (click)="login(f.value)">LOGIN</button>
    <button routerLink="/register" class="btn sign-btn">SIGNUP</button>
  </form>
</div>
