<div class="container">
    <h1 class="login-heading margin1">Login or Sign-up</h1>
    <form>
        <div class="input-holder margin1">
            <span class="login-icon"><i class="bi bi-person"></i></span>
            <input 
            class="text-input"
            type="text" 
            name="username" 
            placeholder="Username">
            <br>
        </div>

        <div class="input-holder">
            <span class="login-icon"><i class="bi bi-key"></i></span>
            <input 
            class="text-input"
            type="password" 
            name="password" 
            placeholder="Password">
        </div>
        <br>
        <a href="#" class="link margin1">Forgot password?</a>
        <button class="btn login-btn margin1">LOGIN</button> 
        <button class="btn sign-btn">SIGNUP</button> 
    </form>  
</div>
