<div class="container">
  <h1 class="login-heading margin1">Register</h1>
  <form>
    <input
      class="text-input"
      type="text"
      name="fullname"
      placeholder="Full name"
    />

    <input
      class="text-input"
      type="text"
      name="Username"
      placeholder="Username"
    />
    <input class="text-input" type="email" name="Email" placeholder="Email" />

    <input
      class="text-input"
      type="password"
      name="password"
      placeholder="Password"
    />


    <br />
    <button class="btn sign-btn margin1">SIGNUP</button>
    <button routerLink="/login" class="btn login-btn">LOGIN</button>
  </form>
</div>
