<div class="reset-password-request-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box mat-elevation-z5">

    <mat-card-header>
      <mat-card-title>Reset password request</mat-card-title>
    </mat-card-header>

    <form [formGroup]="resetPasswordRequestForm" (ngSubmit)="onSubmit()">
      <mat-card-content>
        <mat-form-field appearance="outline" class="full-width-input">
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" placeholder="Username">
          <mat-icon matSuffix>person</mat-icon>

          <mat-error *ngIf="handleError('username', 'required')">
            Username is <strong>required</strong>.
          </mat-error>
          <mat-error *ngIf="handleError('username', 'minlength')">
            Username must be at least <strong>4 characters</strong>.
          </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="!resetPasswordRequestForm.valid">Request password reset</button>
      </mat-card-content>
    </form>

    <mat-card-footer>
      <button mat-raised-button color="primary" routerLink="/login">Already have account?</button>
      <button mat-raised-button color="primary" routerLink="/register">Don't have account?</button>
    </mat-card-footer>

  </mat-card>
</div>
