@import "../../../shared/variables";

.container{
    padding: 1em;

}

.example-card {
  overflow: hidden;
  height: 150px;
  min-width: 120px;
}

mat-card-content{
    padding: 1em;
}

.price {
    position: absolute;
    bottom: 1em;
    right: .6em;
    color: $success;
    font-size: 1.2rem;
    font-weight: bold;
  }

.discount-label {
  background-color: $red;
  border: 1px solid $medium-gray;
  width: 200px;
  padding: 0.5em;
  position: absolute;
  bottom: 5px;
  left: -80px;
  display: flex;
  justify-content: center;
  transform: rotate(40deg);
}
.discount {
  color: $white;
  font-size: 1.2rem;
  margin: 0;
}
